<div>
    <nav>
        <ul class="fle">
            <img class="logo" src="../../../assets/logo.svg" alt="">
            <li><a href="animacao">ANIMAÇÃO</a></li>
            <li><a href="besteirol">BESTEIROL</a></li>
            <li><a href="terir">TERIR</a></li>
            <li><a href="romantica">ROMÂNTICA</a></li>
            <li><input type="text" class="tamanho" placeholder="🔎 Buscar Filmes"></li>
            <img src="../../../assets/user.jpeg" class="photo">
        </ul>
    </nav>
</div>